/*****************************************************************************************************************
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////Team css////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*****************************************************************************************************************/

.team {
    padding: 50px 0px 80px;
    text-align: center;
}

    .team b,
    h2,
    h4 {
        margin: 20px 0px 20px;
        color: #4c4c4c;
    }

    .team b {
        font-weight: 600;
    }

    .team p {
        color: #737373;
    }

    .team img {
        height: 350px;
        width: 250px;
        margin-top: 40px;
    }

    .team i {
        height: 30px;
        width: 30px;
        padding: 5px;
        font-size: 17px;
        border-radius: 50%;
        background-color: #a9db8e;
        color: #fff;
    }

        .team i:hover {
            background-color: #8cc36e;
        }
